header {
    width: 300px;
    margin: 0 auto;
    text-align: center;
}
.navbar {
    padding: 0;
    width: 160px;
    margin: 0 auto;
}
.navbar li {
    display: inline;
    list-style: none;
    margin-right: 20px;
}
